<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/style.css"media="screen,projection"/>
    <title>InspoFit</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">InspoFit</a>
            <ul id="nav-mobile" class="right">
                <li><a href="/workouts">Workout List</a></li>
                <li><a href="/exercises">Exercise List</a></li>
                <li><a href="/workouts/new">Create Workout</a></li>
                <li><a href="/exercises/new">Create Exercise</a></li>
            </ul>
            <ul id="nav-mobile" class="right">
            </ul>
        </div>
    </nav>
    
    <div class='container'>