<%- include('../partials/header.ejs') %> 
<h1>THIS IS THE EXERCISE INDEX ROUTE</h1>

<% exercises.forEach(exercise => { %>
<h1><a href="/exercises/<%= exercise.id %> "><%= exercise.name %></a></h1>
<% }) %> 






<%- include('../partials/footer.ejs') %> 
