<%- include('../partials/header.ejs') %> 
<h1>THIS IS THE EXERCISE INDEX ROUTE</h1>

<% exercises.forEach(exercise => { %>
<h1><%= exercise.name %> </h1>
<% }) %> 






<%- include('../partials/footer.ejs') %> 
