<%- include('../partials/header.ejs') %> 
<h1>Exercise List</h1>

<% exercises.forEach(exercise => { %>
<h3><a href="/exercises/<%= exercise.id %> "><%= exercise.name %></a></h3>
<% }) %> 






<%- include('../partials/footer.ejs') %> 
